<nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to "Yelpdemo", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "About", pages_about_url %>
        </li>
        &nbsp&nbsp&nbsp
        <li class="nav-item">
          <%= link_to "Contact", pages_contact_url %>
        </li>
      </ul>
      
      <%= form_tag search_restaurants_path, method: :get, class: "form-inline  my-2 my-lg-0" do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2"%>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

      &nbsp&nbsp&nbsp&nbsp
      
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>&nbsp&nbsp&nbsp
          </li>
          <li class="nav-item active">
            <%= link_to "Edit profile", edit_user_registration_url %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Sign up", new_user_registration_url %>&nbsp&nbsp&nbsp
          </li>
          <li class="nav-item active">
            <%= link_to "Sign in", new_user_session_url %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>